#animation-overlay {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: #d1c4e9;
}

@keyframes rise {
    0% {
        box-shadow: none;
    }

    10% {
        box-shadow: none;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}
