#welcome {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

#title {
    font-size: 2.5em;
}

#subtitle {
    opacity: 0.5;
    font-size: 0.8em;
}

#signin-form {
    margin: 1em;
    align-content: center;
}
