#sidebar {
    display: flex;
    flex-direction: column;

    /* TODO */
    width: 400px;
    background: #eee;
    box-shadow: 2px 0 4px #0003;
    z-index: 2;
}

#sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background: #5c6bc0;
    color: white;
    box-shadow: 0 2px 4px #0006;
    border-bottom-right-radius: 0.5em;
}

.sidebar-subheader {
    padding: 0.1em;
    text-align: center;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

#users-group {
    display: flex;
    flex-direction: column;
}

.sidebar-content button {
    width: 100%;
    padding: 0.3em;
    margin-top: 0.6em;
    background: #d1c4e9;
    border: none;
    border-radius: 0.2em;
    box-shadow: 1px 1px 3px #0007;
    color: black;
    font-weight: bold;
}

#sidebar button:hover {
    background: #ec407a;
}
