<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>BezzeChat</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/global.css' %}" />
        <link rel="stylesheet" href="{% static 'css/chat-animations.css' %}" />
        <link rel="stylesheet" href="{% static 'css/chat.css' %}" />
        <link rel="stylesheet" href="{% static 'css/message.css' %}" />
    </head>
    <body>
        <div id="page-container">
            <div id="chat-container">
                <div id="sidebar">
                    <div id="sidebar-header">
                        <div class="photo-bubble"></div>
                        username
                    </div>
                    <div class="sidebar-subheader">Channels</div>
                    <div class="sidebar-content">
                        <button>global</button>
                    </div>
                    <div class="sidebar-subheader">Users</div>
                    <div class="sidebar-content">
                        <button>user1</button>
                        <button>user2</button>
                    </div>
                </div>
                <div id="chat">
                    <div id="message-container">
                        <div class="message">
                            <div class="photo-bubble"></div>
                            <div class="message-bubble">
                                asdfasdfad fasdf adsf asdf asdf adsf asdfa
                                fasdfasdf asdf adsf
                            </div>
                        </div>
                    </div>
                    <textarea></textarea>
                </div>
                <div id="animation-overlay"></div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/chat.js' %}"></script>
</html>
